
.section-6 {
    position: relative;
    max-width: 633px;
    margin: 900px auto;

    @include laptop {
        margin: 0 auto;
    }
@include desktop {
    position: relative;
    max-width: 633px;
    margin: 0 auto;
}
}
.section-6__title {
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    color: $text-color;

@include desktop {
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    color: $text-color;
}
}
.section-6__text {
    max-width: 633px;
    font-size: 22px;
    font-family: 'Alegreya';
    line-height: 160%;
    text-align: center;
    color: $text-color;

@include desktop {
    max-width: 633px;
    font-size: 22px;
    font-family: 'Alegreya';
    line-height: 160%;
    text-align: center;
    color: $text-color;
}
}

.section-6__sub {
    position: absolute;
    min-width: 450px;
    min-height: 76px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #FFFFFF;
    border-radius: 36.5px;

    @include laptop {
        min-width: 632px;
        min-height: 76px;
        top: 180px;
        left: 50%;
    }

    @include desktop {
    min-width: 632px;
    min-height: 76px;
    top: 180px;
    left: 50%;
    }
}

.section-6__input {
    margin: 15px 50px;
    border: none;
    color: #9B9DAC;
    font-size: 20px;
    font-family: 'Alegreya';
    line-height: 32px;
    transition: 0.4s;

    @include laptop {
        margin: 22px 110px;
    }

@include desktop {
    margin: 22px 110px;
    border: none;
    color: #9B9DAC;
    font-size: 20px;
    font-family: 'Alegreya';
    line-height: 32px;
    transition: 0.4s;
}
}

.section-6__btn {
    min-width: 100px;
    min-height: 48px;
    border-radius: 30px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 15px;
    background: $second-color;
    color: #FFFFFF;
    transition: 0.4s;

@include laptop {
    min-width: 170px;
    min-height: 58px;
    font-size: 22px;
}
@include desktop {
    min-width: 170px;
    min-height: 58px;
    font-size: 22px;
}
}
